In [2]:
import re

def remove_comments(sql):
    # Loại bỏ các comment kiểu -- đến cuối dòng
    sql = re.sub(r'--.*', '', sql)
    # Loại bỏ các comment kiểu /* ... */
    sql = re.sub(r'/\*.*?\*/', '', sql, flags=re.DOTALL)
    return sql

def extract_jobs_and_sql(dsx_content):
    # Tìm tất cả các tên job trong DSJOB
    job_names = re.findall(r'BEGIN DSJOB.*?Identifier "(.*?)"', dsx_content, re.DOTALL)

    # Tìm tất cả các đoạn CDATA chứa câu truy vấn SQL
    sql_queries = re.findall(r'<!\[CDATA\[(.*?)\]\]>', dsx_content, re.DOTALL | re.IGNORECASE)

    cleaned_sql_queries = []
    for query in sql_queries:
        # Loại bỏ khoảng trắng thừa ở đầu và cuối chuỗi
        query = query.strip()

        # Loại bỏ comment trong câu truy vấn
        query = remove_comments(query)
        
        # Chỉ lấy những câu truy vấn bắt đầu bằng từ khóa SQL chính xác (ví dụ: SELECT, UPDATE, INSERT INTO, DELETE FROM)
        sql_keywords = ['SELECT', 'UPDATE', 'INSERT INTO', 'DELETE FROM']
        for keyword in sql_keywords:
            if query.upper().startswith(keyword):
                # Loại bỏ phần trước từ khóa và chỉ giữ lại câu truy vấn
                cleaned_query = re.sub(rf'^.*?\b{keyword}\b', keyword, query, flags=re.DOTALL)
                # Cắt bỏ bất kỳ phần nào sau dấu chấm phẩy đầu tiên
                cleaned_query = re.split(r';', cleaned_query)[0]

                # Thêm dấu chấm phẩy vào cuối câu nếu chưa có
                if not cleaned_query.endswith(';'):
                    cleaned_query += ';'

                cleaned_sql_queries.append(cleaned_query)
                break

    return job_names, cleaned_sql_queries

# Đọc nội dung của file .dsx
with open('FNC_SVC_AR_FCT_FA.dsx', 'r', encoding='utf-8') as file:
    dsx_content = file.read()

# Gọi hàm để trích xuất tên job và các truy vấn SQL
job_names, sql_queries = extract_jobs_and_sql(dsx_content)

# Hiển thị các job và các truy vấn SQL
print("Job Names:")
for job in job_names:
    print(job)

print("\nSQL Queries:")
for query in sql_queries:
    print(query)

Job Names:
PAR_DMT_FNC_SVC_AR_ANL_FCT_FA_Ins
PAR_DMT_TWT_FNC_SVC_AR_ANL_FCT_FA_CHG_TruncIns
PAR_DMT_TWT_FNC_SVC_AR_ANL_FCT_FA_CST_PD_TruncIns
PAR_DMT_TWT_FNC_SVC_AR_ANL_FCT_FA_LST_DY_TruncIns
PAR_DMT_TWT_FNC_SVC_AR_ANL_FCT_FA_TruncIns
PAR_DMT_TWT_FNC_SVC_AR_FCT_FA_TruncIns

SQL Queries:
SELECT
	AC_AR_DIM.AC_AR_DIM_ID					AC_AR_DIM_ID
	,CST_DIM.CST_DIM_ID						CST_DIM_ID
	,LOAN_PPS_DIM.LOAN_PPS_DIM_ID			LOAN_PPS_DIM_ID
	,PD_DIM.PD_DIM_ID						PD_DIM_ID
	,RLTNP_OFCR.EMPE_DIM_ID					RLTNP_OFCR_DIM_ID
	,IDY_DIM.IDY_DIM_ID						IDY_DIM_ID
	,LDGR_ACG_DIM.LDGR_ACG_DIM_ID			LDGR_ACG_DIM_ID
	,TERM_DIM.GRP_DIM_ID					TERM_DIM_ID
	,ADJ_OU.OU_DIM_ID						ADJ_OU_DIM_ID
	,ADJ_CCY.CCY_DIM_ID						ADJ_CCY_DIM_ID
	,ADJ_LOB.LOB_DIM_ID						ADJ_LOB_DIM_ID
	,CST_FNC_ST_DIM.FNC_ST_DIM_ID			CST_FNC_ST_DIM_ID
	,ADJ_FNC_ST_DIM.FNC_ST_DIM_ID			ADJ_FNC_ST_DIM_ID
	,MIS_ADJ_FNC_ST_DIM.FNC_ST_DIM_ID		MIS_ADJ_FNC_ST_DIM_ID
	,FNL_FNC_ST_DIM.FNC_ST_DIM_ID			FNL_FNC_ST_DIM_ID
	,FNC_ST_TP_DIM.GRP_DIM_ID				FNC_ST_TP_DIM_ID
	,CG_SEGMENT_DIM.CG_SEG_DIM_ID			CG_SEG_DIM_ID
	,MSEG_DIM.MSEG_DIM_ID					MSEG_DIM_ID
	,T.CLS_BAL_FCY
	,T.CLS_BAL_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'IW')
				THEN T.CLS_BAL_FCY
		ELSE nvl(lst.CLS_BAL_WTD_FCY, 0) + T.CLS_BAL_FCY
	END													CLS_BAL_WTD_FCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'IW')
				THEN T.CLS_BAL_LCY
		ELSE nvl(lst.CLS_BAL_WTD_LCY, 0) + T.CLS_BAL_LCY
	END 												CLS_BAL_WTD_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN T.CLS_BAL_FCY
		ELSE nvl(lst.CLS_BAL_MTD_FCY, 0) + T.CLS_BAL_FCY
	END 												CLS_BAL_MTD_FCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN T.CLS_BAL_LCY
		ELSE nvl(lst.CLS_BAL_MTD_LCY, 0) + T.CLS_BAL_LCY
	END 												CLS_BAL_MTD_LCY
	,T.LQD_AMT_FCY
	,T.LQD_AMT_LCY
	,T.DSBR_AMT_FCY
	,T.DSBR_AMT_LCY

	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN T.DSBR_AMT_LCY
		ELSE nvl(lst.DSBR_AMT_MTD_LCY, 0) + T.DSBR_AMT_LCY
	END 									DSBR_AMT_MTD_LCY
	,T.PREPYMT_AMT_FCY
	,T.PREPYMT_AMT_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN T.PREPYMT_AMT_FCY
		ELSE nvl(lst.PREPYMT_AMT_MTD_FCY, 0) + T.PREPYMT_AMT_FCY
	END 												PREPYMT_AMT_MTD_FCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN T.PREPYMT_AMT_LCY
		ELSE nvl(lst.PREPYMT_AMT_MTD_LCY, 0) + T.PREPYMT_AMT_LCY
	END     											PREPYMT_AMT_MTD_LCY
	,													T.PY_OFF_BFR_DUE_DT_F
	,													T.INT_RATE
	,#pdate#											CDR_DT_DIM_ID
	,decode(T.MUD, 'OD', 0, AC_AR_DIM.TERM_IN_MO)		TERM_IN_MO
	,SRO_DIM.SRO_DIM_ID									SRO_DIM_ID
	,T.PB_MISCODE_F
	,T.PB_CST_F
	,PYMTC_DIM.PYMTC_DIM_ID								PYMTC_DIM_ID
	,T.MUD
	,LOB.LOB_DIM_ID										LOB_DIM_ID
	,OU.OU_DIM_ID										OU_DIM_ID
	,CIC_FNC_ST_DIM.FNC_ST_DIM_ID						CIC_FNC_ST_DIM_ID
	,CCY.CCY_DIM_ID										CCY_DIM_ID
	,FNC_SVC_MINI.FNC_SVC_AR_MINI_DIM_ID				FNC_SVC_AR_MINI_DIM_ID
	,OVRL_CST.FNC_ST_DIM_ID								OVRL_CST_FNC_ST_DIM_ID
	,OVRL_MIS_ADJ.FNC_ST_DIM_ID							OVRL_MIS_ADJ_FNC_ST_DIM_ID
	,OVRL_FNL.FNC_ST_DIM_ID								OVRL_FNL_FNC_ST_DIM_ID
	,T.ORIG_CLS_BAL_FCY
	,T.ORIG_CLS_BAL_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN T.ORIG_CLS_BAL_FCY
		ELSE nvl(lst.ORIG_CLS_BAL_MTD_FCY, 0) + T.ORIG_CLS_BAL_FCY
	END 												ORIG_CLS_BAL_MTD_FCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN T.ORIG_CLS_BAL_LCY
		ELSE nvl(lst.ORIG_CLS_BAL_MTD_LCY, 0) + T.ORIG_CLS_BAL_LCY
	END 												ORIG_CLS_BAL_MTD_LCY
	,PD_DIM.PD_CODE||FNC_SVC_MINI.DTL_PD_CODE			CMB_PD_CODE

	,ORIG_PD.PD_DIM_ID									ORIG_PD_DIM_ID
	,MID1_OU.OU_DIM_ID									MIS1_OU_DIM_ID
	,NVL(PD_DTL.PD_DTL_GRP_DIM_ID, PD_DTL1.PD_DTL_GRP_DIM_ID)	PD_DTL_GRP_DIM_ID

                ,T.FEE_INCM_LCY
                ,T.TOT_LMT_AMT


                ,T.NOD_PAST_DUE
                ,T.PNP_ARS TOT_PAST_DUE_PNP
                ,T.INT_ARS TOT_PAST_DUE_INT
                ,T.CLS_UTLZ_AMT_FCY
                ,T.PNP_DUE_AMT
                ,T.INT_DUE_AMT
                ,T.DLQ_CNT
,T.TOT_DSBR_AMT_FCY
,AC_AR_MINI.AC_AR_MINI_DIM_ID
,T.TOT_AVL_LMT_AMT
,T.INTERIM_INT
,ORIG_OU.OU_DIM_ID ORIG_OU_DIM_ID
,CST_SEG_MINI_DIM.CST_SEG_MINI_DIM_ID
FROM TWT_FNC_SVC_AR_ANL_FCT_FA T
INNER JOIN AC_AR_DIM 					ON AC_AR_DIM.AC_AR_ID = T.AC_AR_ID AND AC_AR_DIM.EFF_DT <= #pdate# AND AC_AR_DIM.END_DT > #pdate#
LEFT JOIN TWT_FCA_ANL_FCT_FA_LST_DY LST ON AC_AR_DIM.AC_AR_ID = LST.AC_AR_ID AND LST.CDR_DT_DIM_ID = to_number(to_char(to_date(#pdate#, 'yyyymmdd')-1, 'yyyymmdd'))
LEFT JOIN FNC_SVC_AR_MINI_DIM FNC_SVC_MINI	ON FNC_SVC_MINI.FNC_SVC_AR_ID = T.AC_AR_ID AND FNC_SVC_MINI.EFF_DT <= #pdate# AND FNC_SVC_MINI.END_DT > #pdate#

LEFT JOIN TWT_FNC_SVC_AR_FCT_FA_CST_PD PD_CST ON T.AC_AR_ID = PD_CST.AC_AR_ID
LEFT JOIN TWT_PUB_AC_AR_INFO TB_IF ON TB_IF.AR_ID = T.AC_AR_ID
LEFT JOIN AC_AR_MINI_DIM AC_AR_MINI ON AC_AR_MINI.EFF_DT<=#pdate# AND AC_AR_MINI.END_DT>#pdate#
	AND NVL(PD_CST.GL_FNC_ST_CODE, 'NULL') = AC_AR_MINI.AR_FNC_ST
	AND NVL(PD_CST.CST_PD_FNC_ST_CODE, 'NULL') = AC_AR_MINI.CST_PD_FNC_ST_CODE
	AND nvl(TB_IF.CST_INCM_F,'N') = AC_AR_MINI.CST_INCM_F

LEFT JOIN CST_DIM 						ON CST_DIM.CST_ID = T.CST_ID AND CST_DIM.EFF_DT <= #pdate# AND CST_DIM.END_DT > #pdate#
LEFT JOIN LOAN_PPS_DIM 					ON LOAN_PPS_DIM.PPS_CODE = T.LOAN_PPS_CODE AND LOAN_PPS_DIM.EFF_DT <= #pdate# AND LOAN_PPS_DIM.END_DT > #pdate# AND LOAN_PPS_DIM.PPS_TP = 'MUC DICH VAY'
LEFT JOIN PD_DIM 						ON PD_DIM.PD_CODE = T.PD_CODE AND PD_DIM.EFF_DT <= #pdate# AND PD_DIM.END_DT > #pdate#
										AND CASE WHEN T.MUD IN ('LN', 'OD') THEN 'FCC' ELSE 'SMV' END = SUBSTR(PD_DIM.SRC_STM_CODE, 1, INSTR(PD_DIM.SRC_STM_CODE, '.')-1)
LEFT JOIN PD_DIM ORIG_PD 				ON ORIG_PD.PD_CODE = T.ORIG_PD_CODE AND ORIG_PD.EFF_DT <= #pdate# AND ORIG_PD.END_DT > #pdate#
										AND CASE WHEN T.MUD IN ('LN', 'OD') THEN 'FCC' ELSE 'SMV' END = SUBSTR(ORIG_PD.SRC_STM_CODE, 1, INSTR(ORIG_PD.SRC_STM_CODE, '.')-1)
LEFT JOIN EMPE_DIM RLTNP_OFCR 			ON RLTNP_OFCR.EMPE_ID = T.RLTNP_OFCR_ID AND RLTNP_OFCR.EFF_DT <= #pdate# AND RLTNP_OFCR.END_DT > #pdate#
LEFT JOIN IDY_DIM 						ON IDY_DIM.IDY_SHRT_CODE = T.IDY_CODE AND IDY_DIM.EFF_DT <= #pdate# AND IDY_DIM.END_DT > #pdate# AND SUBSTR(IDY_DIM.IDY_CODE, 1, INSTR(IDY_DIM.IDY_CODE, '.')-1) = 'NGANH_NGHE_KINH_TE_SBV'
LEFT JOIN LDGR_ACG_DIM 					ON LDGR_ACG_DIM.LDGR_ACG_ID = T.LDGR_ACG_ID AND LDGR_ACG_DIM.EFF_DT <= #pdate# AND LDGR_ACG_DIM.END_DT > #pdate#
LEFT JOIN GRP_DIM TERM_DIM				ON TERM_DIM.GRP_CODE = decode(T.MUD, 'OD', 'S', CASE WHEN AC_AR_DIM.TERM_IN_MO <= 12 THEN 'S' WHEN AC_AR_DIM.TERM_IN_MO <= 60 THEN 'M' ELSE 'L' END)
										AND TERM_DIM.PRN_GRP_CODE = 'TERM_SEG_TP' AND TERM_DIM.EFF_DT <= #pdate# AND TERM_DIM.END_DT > #pdate#
LEFT JOIN OU_DIM ADJ_OU 				ON ADJ_OU.CODE = T.ADJ_OU_CODE AND ADJ_OU.EFF_DT <= #pdate# AND ADJ_OU.END_DT > #pdate#
LEFT JOIN OU_DIM OU						ON OU.CODE = T.OU_CODE AND OU.EFF_DT <= #pdate# AND OU.END_DT > #pdate#
LEFT JOIN OU_DIM MID1_OU				ON MID1_OU.CODE = T.MIS1_OU_CODE AND MID1_OU.EFF_DT <= #pdate# AND MID1_OU.END_DT > #pdate#
LEFT JOIN CCY_DIM ADJ_CCY 				ON ADJ_CCY.ALPB_CCY_CODE = T.ADJ_CCY_CODE AND ADJ_CCY.EFF_DT <= #pdate# AND ADJ_CCY.END_DT > #pdate#
LEFT JOIN CCY_DIM CCY 					ON CCY.ALPB_CCY_CODE = T.CCY_CODE AND CCY.EFF_DT <= #pdate# AND CCY.END_DT > #pdate#
LEFT JOIN LOB_DIM ADJ_LOB				ON ADJ_LOB.LOB_CODE = T.ADJ_LOB_CODE
LEFT JOIN LOB_DIM LOB					ON LOB.LOB_CODE = T.LOB_CODE

LEFT JOIN PD_DTL_GRP_DIM PD_DTL			ON PD_DTL.LINE = ADJ_LOB.LOB_CODE AND PD_DTL.MAP_SPCT = PD_DIM.PD_CODE||FNC_SVC_MINI.DTL_PD_CODE
										AND PD_DTL.EFF_DT <= #pdate# AND PD_DTL.END_DT > #pdate#
LEFT JOIN PD_DTL_GRP_DIM PD_DTL1			ON PD_DTL1.LINE = ADJ_LOB.LOB_CODE AND PD_DTL1.MAP_SPCT = ORIG_PD.PD_CODE
										AND PD_DTL1.EFF_DT <= #pdate# AND PD_DTL1.END_DT > #pdate#

LEFT JOIN FNC_ST_DIM ADJ_FNC_ST_DIM 	ON ADJ_FNC_ST_DIM.FNC_ST_CODE = T.ADJ_FNC_ST_CODE AND ADJ_FNC_ST_DIM.EFF_DT <= #pdate# AND ADJ_FNC_ST_DIM.END_DT > #pdate#
LEFT JOIN FNC_ST_DIM CST_FNC_ST_DIM 	ON CST_FNC_ST_DIM.FNC_ST_CODE = T.CST_FNC_ST_CODE AND CST_FNC_ST_DIM.EFF_DT <= #pdate# AND CST_FNC_ST_DIM.END_DT > #pdate#
LEFT JOIN FNC_ST_DIM MIS_ADJ_FNC_ST_DIM ON MIS_ADJ_FNC_ST_DIM.FNC_ST_CODE = T.MIS_ADJ_FNC_ST_CODE AND MIS_ADJ_FNC_ST_DIM.EFF_DT <= #pdate# AND MIS_ADJ_FNC_ST_DIM.END_DT > #pdate#
LEFT JOIN FNC_ST_DIM FNL_FNC_ST_DIM 	ON FNL_FNC_ST_DIM.FNC_ST_CODE = T.FNL_FNC_ST_CODE AND FNL_FNC_ST_DIM.EFF_DT <= #pdate# AND FNL_FNC_ST_DIM.END_DT > #pdate#
LEFT JOIN FNC_ST_DIM OVRL_CST 			ON OVRL_CST.FNC_ST_CODE = T.OVRL_CST_FNC_ST_CODE AND OVRL_CST.EFF_DT <= #pdate# AND OVRL_CST.END_DT > #pdate#
LEFT JOIN FNC_ST_DIM OVRL_MIS_ADJ 		ON OVRL_MIS_ADJ.FNC_ST_CODE = T.OVRL_MIS_ADJ_FNC_ST_CODE AND OVRL_MIS_ADJ.EFF_DT <= #pdate# AND OVRL_MIS_ADJ.END_DT > #pdate#
LEFT JOIN FNC_ST_DIM OVRL_FNL 			ON OVRL_FNL.FNC_ST_CODE = T.OVRL_FNL_FNC_ST_CODE AND OVRL_FNL.EFF_DT <= #pdate# AND OVRL_FNL.END_DT > #pdate#
LEFT JOIN FNC_ST_DIM CIC_FNC_ST_DIM 	ON CIC_FNC_ST_DIM.FNC_ST_CODE = T.CIC_FNC_ST_CODE AND CIC_FNC_ST_DIM.EFF_DT <= #pdate# AND CIC_FNC_ST_DIM.END_DT > #pdate#
LEFT JOIN GRP_DIM FNC_ST_TP_DIM 		ON FNC_ST_TP_DIM.GRP_CODE = T.FNC_ST_TP_CODE AND FNC_ST_TP_DIM.EFF_DT <= #pdate# AND FNC_ST_TP_DIM.END_DT > #pdate#
LEFT JOIN CG_SEG_DIM CG_SEGMENT_DIM 	ON CG_SEGMENT_DIM.CG_SEG_ID = T.CG_SEG AND CG_SEGMENT_DIM.EFF_DT <= #pdate# AND CG_SEGMENT_DIM.END_DT > #pdate#
LEFT JOIN MSEG_DIM 						ON MSEG_DIM.MSEG_ID = T.MSEG AND MSEG_DIM.EFF_DT <= #pdate# AND MSEG_DIM.END_DT > #pdate#
LEFT JOIN SRO_DIM 						ON SRO_DIM.SRO_CODE = T.SRO_CODE AND SRO_DIM.EFF_DT <= #pdate# AND SRO_DIM.END_DT > #pdate#
LEFT JOIN PYMTC_DIM 					ON PYMTC_DIM.PYMTC_ID = T.PYMT_CARD_ID AND PYMTC_DIM.EFF_DT <= #pdate# AND PYMTC_DIM.END_DT > #pdate#

LEFT JOIN OU_DIM ORIG_OU ON ORIG_OU.CODE = T.RPRG_OU_CODE AND ORIG_OU.EFF_DT <= #pdate# AND ORIG_OU.END_DT > #pdate#
LEFT JOIN TWT_PUB_CST_INFO ON TWT_PUB_CST_INFO.IP_ID = T.CST_ID
LEFT JOIN CST_SEG_MINI_DIM ON
	TWT_PUB_CST_INFO.LCS = CST_SEG_MINI_DIM.LCS
	AND TWT_PUB_CST_INFO.FN_ST = CST_SEG_MINI_DIM.FNC_ST_CODE
	AND TWT_PUB_CST_INFO.CLT_F = CST_SEG_MINI_DIM.CLT_F

UNION ALL
SELECT
	LST.AC_AR_DIM_ID
	,LST.CST_DIM_ID
	,LST.LOAN_PPS_DIM_ID
	,LST.PD_DIM_ID
	,LST.RLTNP_OFCR_DIM_ID
	,LST.IDY_DIM_ID
	,LST.LDGR_ACG_DIM_ID
	,LST.TERM_DIM_ID
	,LST.ADJ_OU_DIM_ID
	,LST.ADJ_CCY_DIM_ID
	,LST.ADJ_LOB_DIM_ID
	,LST.CST_FNC_ST_DIM_ID
	,LST.ADJ_FNC_ST_DIM_ID
	,LST.MIS_ADJ_FNC_ST_DIM_ID
	,LST.FNL_FNC_ST_DIM_ID
	,LST.FNC_ST_TP_DIM_ID
	,LST.CG_SEG_DIM_ID
	,LST.MSEG_DIM_ID
	,0 CLS_BAL_FCY
	,0 CLS_BAL_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'IW')
				THEN 0
		ELSE LST.CLS_BAL_WTD_FCY END CLS_BAL_WTD_FCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'IW')
				THEN 0
		ELSE LST.CLS_BAL_WTD_LCY END CLS_BAL_WTD_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN 0
		ELSE LST.CLS_BAL_MTD_FCY END CLS_BAL_MTD_FCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN 0
		ELSE LST.CLS_BAL_MTD_LCY END CLS_BAL_MTD_LCY
	,0 LQD_AMT_FCY
	,0 LQD_AMT_LCY
	,0 DSBR_AMT_FCY
	,0 DSBR_AMT_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN 0
		ELSE LST.DSBR_AMT_MTD_LCY END DSBR_AMT_MTD_LCY
	,0 PREPYMT_AMT_FCY
	,0 PREPYMT_AMT_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN 0
		ELSE LST.PREPYMT_AMT_MTD_FCY END PREPYMT_AMT_MTD_FCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN 0
		ELSE LST.PREPYMT_AMT_MTD_LCY END PREPYMT_AMT_MTD_LCY
	,LST.PY_OFF_BFR_DUE_DT_F
	,LST.INT_RATE
	,LST.CDR_DT_DIM_ID
	,LST.TERM_IN_MO
	,LST.SRO_DIM_ID
	,LST.PB_MISCODE_F
	,LST.PB_CST_F
	,LST.PYMTC_DIM_ID
	,LST.MUD
	,LST.LOB_DIM_ID
	,LST.OU_DIM_ID
	,LST.CIC_FNC_ST_DIM_ID
	,LST.CCY_DIM_ID
	,LST.FNC_SVC_AR_MINI_DIM_ID
	,LST.OVRL_CST_FNC_ST_DIM_ID
	,LST.OVRL_MIS_ADJ_FNC_ST_DIM_ID
	,LST.OVRL_FNL_FNC_ST_DIM_ID
	,0 ORIG_CLS_BAL_FCY
	,0 ORIG_CLS_BAL_LCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN 0
		ELSE LST.ORIG_CLS_BAL_MTD_FCY END ORIG_CLS_BAL_MTD_FCY
	,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, 'YYYYMMDD'), 'MONTH')
				THEN 0
		ELSE LST.ORIG_CLS_BAL_MTD_LCY END ORIG_CLS_BAL_MTD_LCY
	,LST.CMB_PD_CODE
	,LST.ORIG_PD_DIM_ID
	,LST.MIS1_OU_DIM_ID
	,LST.PD_DTL_GRP_DIM_ID
	,0 FEE_INCM_LCY
	,0 TOT_LMT_AMT
	,0 NOD_PAST_DUE
	,0 TOT_PAST_DUE_PNP
	,0 TOT_PAST_DUE_INT
	,0 CLS_UTLZ_AMT_FCY
	,0 PNP_DUE_AMT
	,0 INT_DUE_AMT
	,0 DLQ_CNT
	,0 TOT_DSBR_AMT_FCY
	,LST.AC_AR_MINI_DIM_ID
	,0 TOT_AVL_LMT_AMT
	,0 INTERIM_INT
	,LST.ORIG_OU_DIM_ID
	,LST.CST_SEG_MINI_DIM_ID
FROM FNC_SVC_AR_ANL_FCT_FA LST
JOIN AC_AR_DIM AC ON AC.AC_AR_DIM_ID = LST.AC_AR_DIM_ID
WHERE LST.CDR_DT_DIM_ID = to_number(to_char(to_date(#pdate#, 'yyyymmdd') - 1, 'yyyymmdd'))
	AND NOT EXISTS (
		SELECT 1
		FROM TWT_FNC_SVC_AR_ANL_FCT_FA T
		WHERE T.AC_AR_ID = AC.AC_AR_ID
		);
Delete from FNC_SVC_AR_ANL_FCT_FA where CDR_DT_DIM_ID = #pdate#;
SELECT
	AC_AR.AC_AR_ID
	,PD_AR.PD_ID
	,COALESCE(LN.LAST_EFF_DT, OD.LAST_EFF_DT, CARD.LAST_EFF_DT)							LAST_EFF_DT
	,COALESCE(LN.ADJ_BAL, OD.ADJ_BAL, CARD.ADJ_BAL)										ADJ_BAL
	,AR.UNQ_ID_IN_SRC_STM																AR_UNQ_ID
	,CASE WHEN
		CASE WHEN LN.AR_ID IS NOT NULL THEN 'LN'
			WHEN OD.AR_ID IS NOT NULL THEN 'OD'
			WHEN CARD.AR_ID IS NOT NULL THEN 'CARD'
		END IN ('OD', 'CARD') THEN PD_AR.PRM_CST_ID
	ELSE NULL END																		CST_ID
	,CASE WHEN LN.AR_ID IS NOT NULL THEN 'LN'
		WHEN OD.AR_ID IS NOT NULL THEN 'OD'
		WHEN CARD.AR_ID IS NOT NULL THEN 'CARD'
	END																					MUD
	,PD.UNQ_ID_IN_SRC_STM																PD_CODE
	,CCY.CCY_CODE																		CCY_CODE
	,CARD.CARD_ID
	,CARD_AR.SALE_EMPE_ID
	,COALESCE(LN.ACG_STC_ITM_ID, OD.ACG_STC_ITM_ID, AU.ACG_STC_ITM_ID)					ACG_STC_ITM_ID
	,NVL(MAP.MA_NHOM_NO, 'NORM') 														CARD_AR_FNC_ST_TP_CODE
	,RPRG_OU.UNQ_ID_IN_SRC_STM															RPRG_OU_CODE
	,LN.LN_FNC_ST_CODE
FROM AC_AR
LEFT JOIN TWT_CUST_LOAN_FA LN ON AC_AR.AC_AR_ID = LN.AR_ID
LEFT JOIN TWT_CST_OD_OPEN OD	ON AC_AR.AC_AR_ID = OD.AR_ID
LEFT JOIN TWT_CARD_OPEN CARD	ON AC_AR.AC_AR_ID = CARD.AR_ID
LEFT JOIN AR           			ON AC_AR.AC_AR_ID = AR.AR_ID
LEFT JOIN IP RPRG_OU			ON RPRG_OU.IP_ID = AR.RPRG_OU_ID
LEFT JOIN PD_AR         		ON AC_AR.AC_AR_ID = PD_AR.PD_AR_ID
LEFT JOIN PD 					ON PD.PD_ID = PD_AR.PD_ID
LEFT JOIN CCY 					ON CCY.CCY_ID = AR.DNMN_CCY_ID

LEFT JOIN AR CARD_AR			ON CARD_AR.AR_ID = CARD.CARD_ID
LEFT JOIN TMP_AR_X_AU AU		ON AU.AR_ID = CARD.AR_ID AND AU.AR_X_AU_TP_CODE = 'AR_X_DR_AU'
LEFT JOIN CC_AR_SMY SMY			ON CARD.AR_ID = SMY.CC_AR_ID
	AND smy.MSR_PRD_ID = #pDate#
LEFT JOIN EXT_XLS_MAP_NHOMNO_THE_TDY MAP ON SMY.NOD_PAST_DUE < NVL(MAP.HIGH_VAL, SMY.NOD_PAST_DUE + 1)
	AND SMY.NOD_PAST_DUE >= NVL(MAP.LOW_VAL, SMY.NOD_PAST_DUE)
	AND SMY.NOD_PAST_DUE >= NVL(MAP.LOW_VAL, SMY.NOD_PAST_DUE)
WHERE AC_AR.SRC_STM_ID IN ('3FBF9A0B41B2BE2CA30C68E2B64D00A7','85425375A0630AA9C05A16D7D3420345','D461039F96DF94CBDFD7BC02909C9521')
AND COALESCE(LN.AR_ID,OD.AR_ID,CARD.AR_ID) IS NOT NULL;
SELECT A.AC_AR_ID
	,A.CST_ID
	,A.PD_CODE
	,A.PD_SRC_STM_CODE
	,A.ADJ_FNC_ST_CODE GL_FNC_ST_CODE
	,MAX(ADJ_FNC_ST_CODE) OVER(PARTITION BY A.CST_ID, A.PD_CODE, A.PD_SRC_STM_CODE) CST_PD_FNC_ST
FROM TWT_FNC_SVC_AR_FCT_FA A;
SELECT
	AC_AR_DIM.AC_AR_ID
	,CLS_BAL_WTD_FCY
	,CLS_BAL_WTD_LCY
	,CLS_BAL_MTD_FCY
	,CLS_BAL_MTD_LCY
	,PREPYMT_AMT_MTD_FCY
	,PREPYMT_AMT_MTD_LCY
	,CDR_DT_DIM_ID
	,DSBR_AMT_MTD_LCY
	,ORIG_CLS_BAL_MTD_FCY
	,ORIG_CLS_BAL_MTD_LCY
FROM FNC_SVC_AR_ANL_FCT_FA FCT
LEFT JOIN AC_AR_DIM ON AC_AR_DIM.AC_AR_DIM_ID = FCT.AC_AR_DIM_ID
WHERE FCT.CDR_DT_DIM_ID = to_number(to_char(to_date(#pDate#, 'yyyymmdd')-1, 'yyyymmdd'))
AND FCT.SRO_DIM_ID = 7;
SELECT ARF.AR_ID, ARF.EFF_DT, ARF.END_DT, CD.CL_CODE
	FROM AR_FNC_ST ARF
	LEFT JOIN CV CD ON CD.CL_ID = ARF.AR_FNC_ST_TP_ID
      WHERE ARF.AR_FNC_ST_SCM_ID = 'FF2F2563FA9BFED792EDC3A35EFDEE92') ARF ON AC_AR_ID = ARF.AR_ID
	  AND ARF.EFF_DT <= LAST_EFF_DT AND ARF.END_DT > LAST_EFF_DT ;
SELECT AC_AR.AC_AR_ID
	,nvl(max(decode(AR_AVY.CL_CODE, 'PRINCIPAL', DUE_AMT)), 0) PNP_DUE_AMT
	,nvl(max(decode(AR_AVY.CL_CODE, 'MAIN_INT', DUE_AMT)), 0) INT_DUE_AMT
FROM TWT_FNC_SVC_AR_ANL_FCT_FA_CHG AC_AR
LEFT JOIN (
	SELECT AR_AVY.*
		,CV.CL_CODE
	FROM AR_AVY
	JOIN CV ON AR_AVY.AVY_TP_ID = CV.CL_ID
		AND CV.CL_SCM_CODE = 'AVY_TP'
		AND AR_AVY.SRC_STM_ID = '92D4125CCD5B1BDF51F47FBCCDBBBF27'
		AND CV.CL_CODE IN (
			'PRINCIPAL'
			,'MAIN_INT'
			)
	) AR_AVY ON AC_AR.AC_AR_ID = AR_AVY.AR_ID
LEFT JOIN (
	SELECT AVY_SHD.AR_AVY_ID
		,SUM(nvl(AVY_SHD.SHD_AMT, 0) - nvl(AVY_SHD.ACT_AMT, 0)) DUE_AMT
	FROM AR_AVY_SHD_ITM AVY_SHD
	WHERE AVY_SHD.EFF_DT <= #pDate#
		AND AVY_SHD.END_DT > #pDate#
		AND AVY_SHD.EXPC_END_DT <= #pDate#
		AND AVY_SHD.SHD_AMT > AVY_SHD.ACT_AMT
	GROUP BY AVY_SHD.AR_AVY_ID
	) AVY_SHD ON AR_AVY.AR_AVY_ID = AVY_SHD.AR_AVY_ID
GROUP BY AC_AR.AC_AR_ID;
SELECT AC_AR_ID, SUM(CLS_UTLZ_AMT_FCY) CLS_UTLZ_AMT_FCY
FROM (
SELECT AC_AR.AC_AR_ID , nvl(AR_X_AR.LINKED_AMT_FCY ,0) CLS_UTLZ_AMT_FCY
			FROM TWT_FNC_SVC_AR_ANL_FCT_FA_CHG AC_AR
			LEFT JOIN (SELECT AR_X_AR.SBJ_AR_ID, AR_X_AR.EFF_DT, AR_X_AR.END_DT, AR_X_AR.LINKED_AMT_FCY
			FROM AR_X_AR_RLTNP AR_X_AR JOIN CV ON AR_X_AR.SRC_STM_ID = CV.CL_ID
                 AND CV.CL_SCM_CODE = 'SRC_STM'
                 AND CL_CODE = 'FCC.CLTB_ACC_COLL_LINK_DTLS'
                 WHERE AR_X_AR.EFF_DT <= #pdate# AND AR_X_AR.END_DT > #pdate#) AR_X_AR
                 ON AC_AR.AC_AR_ID = AR_X_AR.SBJ_AR_ID
where AC_AR.MUD = 'LN'
AND AR_X_AR.EFF_DT <= AC_AR.LAST_EFF_DT AND AR_X_AR.END_DT > AC_AR.LAST_EFF_DT
UNION
SELECT AC_AR.AC_AR_ID , nvl(AR_X_RI.RI_AMT ,0) CLS_UTLZ_AMT_FCY
			FROM TWT_FNC_SVC_AR_ANL_FCT_FA_CHG AC_AR
			LEFT JOIN (SELECT AR_X_RI.AR_ID, AR_X_RI.EFF_DT, AR_X_RI.END_DT, AR_X_RI.RI_AMT
			FROM AR_X_RI_RLTNP AR_X_RI
                 WHERE AR_X_RI.SRC_STM_ID = '0A173E8726B6D97003B5EE634C0CCA92'
                 AND AR_X_RI.EFF_DT <= #pdate# AND AR_X_RI.END_DT > #pdate#) AR_X_RI
                 ON AC_AR.AC_AR_ID = AR_X_RI.AR_ID
where AC_AR.MUD = 'LN'
AND AR_X_RI.EFF_DT <= AC_AR.LAST_EFF_DT AND AR_X_RI.END_DT > AC_AR.LAST_EFF_DT)
GROUP BY AC_AR_ID;
SELECT CHG.AC_AR_ID,
PST_ENTR.PST_ENTR_AMT_LCY FEE_INCM_LCY
FROM TWT_FNC_SVC_AR_ANL_FCT_FA_CHG CHG
LEFT JOIN PST_ENTR  ON PST_ENTR.REL_AR_ID = CHG.AC_AR_ID
AND PST_DT = #pdate#
LEFT JOIN AR_X_AU_RLTNP AR_X_AU ON CHG.AC_AR_ID = AR_X_AU.AR_ID
AND AR_X_AU.SRC_STM_ID = '85425375A0630AA9C05A16D7D3420345'
AND AR_X_AU.EFF_DT <= #pdate# AND AR_X_AU.END_DT > #pdate#
LEFT JOIN AU ON AU.AU_ID = AR_X_AU.AU_ID
WHERE CHG.PD_CODE IN ('C11M', 'C11S', 'M9P1', 'M9PM', 'M9PS', 'N9PS')
AND AU.ACG_STC_ITM_ID IN (select function_hash02('GL' || '|' || 'FCC.GLTM_GLMASTER', FIELD1)
from EXT_FCC_jrtb_parameters a where a.srv_id = 'GL023CB')
AND ACG_TP_ID = '6BD323629A5B4A768A50D4F091BB2952' ;
select
	chg.ac_ar_id,
	axr.EFF_RATE_PCT	INT_RATE
from TWT_FNC_SVC_AR_ANL_FCT_FA_CHG chg
left join ar_x_rate_tp_rltnp AXR on AXR.ar_x_rate_tp_rltnp_tp_id ='B1D1E14709EF08BBB38D361A980E4DE1'
    AND AXR.RATE_TP_ID = '2EC90B394FDFF95D4EC063F17BE70B47'
    AND AXR.RATE_CMPT = 'INTEREST_RATE'
	and AXR.ar_id = chg.AC_AR_ID AND AXR.EFF_DT <= LAST_EFF_DT AND AXR.END_DT > LAST_EFF_DT;
SELECT
 CHG.AC_AR_ID                                               AC_AR_ID
,decode(CHG.MUD, 'LN', XIP.IP_ID, CHG.CST_ID)           CST_ID
,CASE WHEN CHG.MUD IN ('OD', 'CARD') THEN '139900'
    WHEN CHG.MUD = 'LN' THEN UDF.UDF_VAL
    ELSE NULL END                                       LOAN_PPS_CODE
,CHG.PD_CODE                                            PD_CODE
,NVL(SALE.IP_ID, CHG.SALE_EMPE_ID)                      RLTNP_OFCR_ID

In [24]:
import re
import pandas as pd
from pprint import pprint

def remove_comments(sql):
    # Loại bỏ các comment kiểu -- từ dấu -- cho đến khi gặp dấu xuống dòng \n
    sql = re.sub(r'--.*?\n', '', sql)
    # Loại bỏ các comment kiểu /* ... */
    sql = re.sub(r'/\*.*?\*/', '', sql, flags=re.DOTALL)
    return sql

def extract_jobs_and_sql(dsx_content):
    # Tìm tất cả các job với tên và vị trí bắt đầu
    job_matches = re.finditer(r'BEGIN DSJOB.*?Identifier "(.*?)"', dsx_content, re.DOTALL)
    jobs = [(match.start(), match.group(1)) for match in job_matches]

    # Tìm tất cả các đoạn CDATA chứa câu truy vấn SQL với vị trí của chúng
    sql_matches = re.finditer(r'<!\[CDATA\[(.*?)\]\]>', dsx_content, re.DOTALL | re.IGNORECASE)
    
    sql_queries = [(match.start(), match.group(1).strip()) for match in sql_matches]
    pprint(sql_queries)
    job_queries = []
    
    # Duyệt qua từng câu truy vấn và gán nó vào job tương ứng
    for sql_pos, query in sql_queries:
        # Loại bỏ comment trong câu truy vấn
        query = remove_comments(query)
        
        # Chỉ lấy những câu truy vấn bắt đầu bằng từ khóa SQL chính xác
        sql_keywords = ['SELECT', 'UPDATE', 'INSERT INTO', 'DELETE FROM', 'WITH']
        for keyword in sql_keywords:
            if query.upper().startswith(keyword):
                # Loại bỏ phần trước từ khóa và chỉ giữ lại câu truy vấn
                cleaned_query = re.sub(rf'^.*?\b{keyword}\b', keyword, query, flags=re.DOTALL | re.IGNORECASE)
                # Cắt bỏ bất kỳ phần nào sau dấu chấm phẩy đầu tiên
                cleaned_query = re.split(r';', cleaned_query)[0]
                
                # Thêm dấu chấm phẩy vào cuối câu nếu chưa có
                if not cleaned_query.endswith(';'):
                    cleaned_query += ';'

                # Xác định job chứa câu truy vấn này
                job_name = None
                for i in range(len(jobs) - 1):
                    if jobs[i][0] <= sql_pos < jobs[i + 1][0]:
                        job_name = jobs[i][1]
                        break
                if job_name is None and jobs:
                    job_name = jobs[-1][1]

                job_queries.append((job_name, cleaned_query))
                break

    return job_queries

# Đọc nội dung của file .dsx
with open('FNC_SVC_AR_FCT_FA.dsx', 'r', encoding='utf-8') as file:
    dsx_content = file.read()

# Gọi hàm để trích xuất tên job và các truy vấn SQL
job_queries = extract_jobs_and_sql(dsx_content)

# Hiển thị các job và các truy vấn SQL tương ứng
for job, query in job_queries:
    print(f"Job Name: {job}")
    #print(f"SQL Query: {query}\n")

# Chuyển đổi job_queries thành DataFrame
df = pd.DataFrame(job_queries, columns=["Job Name", "SQL Query"])

# Xuất DataFrame ra file Excel
df.to_excel("job_queries.xlsx", index=False)

print("Data has been exported to job_queries.xlsx")

[(7259, '#PS_ORA_CONN_DMT.ConnectionString#'),
 (7351, '#PS_ORA_CONN_DMT.Username#'),
 (7437, '#PS_ORA_CONN_DMT.Password#'),
 (7534, '0'),
 (7594, '11g'),
 (7660, '0'),
 (7709, '0'),
 (7765, '0'),
 (7845,
  'SELECT\n'
  '\tAC_AR_DIM.AC_AR_DIM_ID\t\t\t\t\tAC_AR_DIM_ID\n'
  '\t,CST_DIM.CST_DIM_ID\t\t\t\t\t\tCST_DIM_ID\n'
  '\t,LOAN_PPS_DIM.LOAN_PPS_DIM_ID\t\t\tLOAN_PPS_DIM_ID\n'
  '\t,PD_DIM.PD_DIM_ID\t\t\t\t\t\tPD_DIM_ID\n'
  '\t,RLTNP_OFCR.EMPE_DIM_ID\t\t\t\t\tRLTNP_OFCR_DIM_ID\n'
  '\t,IDY_DIM.IDY_DIM_ID\t\t\t\t\t\tIDY_DIM_ID\n'
  '\t,LDGR_ACG_DIM.LDGR_ACG_DIM_ID\t\t\tLDGR_ACG_DIM_ID\n'
  '\t,TERM_DIM.GRP_DIM_ID\t\t\t\t\tTERM_DIM_ID\n'
  '\t,ADJ_OU.OU_DIM_ID\t\t\t\t\t\tADJ_OU_DIM_ID\n'
  '\t,ADJ_CCY.CCY_DIM_ID\t\t\t\t\t\tADJ_CCY_DIM_ID\n'
  '\t,ADJ_LOB.LOB_DIM_ID\t\t\t\t\t\tADJ_LOB_DIM_ID\n'
  '\t,CST_FNC_ST_DIM.FNC_ST_DIM_ID\t\t\tCST_FNC_ST_DIM_ID\n'
  '\t,ADJ_FNC_ST_DIM.FNC_ST_DIM_ID\t\t\tADJ_FNC_ST_DIM_ID\n'
  '\t,MIS_ADJ_FNC_ST_DIM.FNC_ST_DIM_ID\t\tMIS_ADJ_FNC_ST_DIM_ID\n'
  '\t,FNL_FNC_ST_DIM.FNC_ST_DIM_ID\t\t\tFNL_FNC_ST_DIM_ID\n'
  '\t,FNC_ST_TP_DIM.GRP_DIM_ID\t\t\t\tFNC_ST_TP_DIM_ID\n'
  '\t,CG_SEGMENT_DIM.CG_SEG_DIM_ID\t\t\tCG_SEG_DIM_ID\n'
  '\t,MSEG_DIM.MSEG_DIM_ID\t\t\t\t\tMSEG_DIM_ID\n'
  '\t,T.CLS_BAL_FCY\n'
  '\t,T.CLS_BAL_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'IW')\n"
  '\t\t\t\tTHEN T.CLS_BAL_FCY\n'
  '\t\tELSE nvl(lst.CLS_BAL_WTD_FCY, 0) + T.CLS_BAL_FCY\n'
  '\tEND\t\t\t\t\t\t\t\t\t\t\t\t\tCLS_BAL_WTD_FCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'IW')\n"
  '\t\t\t\tTHEN T.CLS_BAL_LCY\n'
  '\t\tELSE nvl(lst.CLS_BAL_WTD_LCY, 0) + T.CLS_BAL_LCY\n'
  '\tEND \t\t\t\t\t\t\t\t\t\t\t\tCLS_BAL_WTD_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN T.CLS_BAL_FCY\n'
  '\t\tELSE nvl(lst.CLS_BAL_MTD_FCY, 0) + T.CLS_BAL_FCY\n'
  '\tEND \t\t\t\t\t\t\t\t\t\t\t\tCLS_BAL_MTD_FCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN T.CLS_BAL_LCY\n'
  '\t\tELSE nvl(lst.CLS_BAL_MTD_LCY, 0) + T.CLS_BAL_LCY\n'
  '\tEND \t\t\t\t\t\t\t\t\t\t\t\tCLS_BAL_MTD_LCY\n'
  '\t,T.LQD_AMT_FCY\n'
  '\t,T.LQD_AMT_LCY\n'
  '\t,T.DSBR_AMT_FCY\n'
  '\t,T.DSBR_AMT_LCY\n'
  '\t--ADD NEW\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN T.DSBR_AMT_LCY\n'
  '\t\tELSE nvl(lst.DSBR_AMT_MTD_LCY, 0) + T.DSBR_AMT_LCY\n'
  '\tEND \t\t\t\t\t\t\t\t\tDSBR_AMT_MTD_LCY\n'
  '\t,T.PREPYMT_AMT_FCY\n'
  '\t,T.PREPYMT_AMT_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN T.PREPYMT_AMT_FCY\n'
  '\t\tELSE nvl(lst.PREPYMT_AMT_MTD_FCY, 0) + T.PREPYMT_AMT_FCY\n'
  '\tEND \t\t\t\t\t\t\t\t\t\t\t\tPREPYMT_AMT_MTD_FCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN T.PREPYMT_AMT_LCY\n'
  '\t\tELSE nvl(lst.PREPYMT_AMT_MTD_LCY, 0) + T.PREPYMT_AMT_LCY\n'
  '\tEND     \t\t\t\t\t\t\t\t\t\t\tPREPYMT_AMT_MTD_LCY\n'
  '\t,\t\t\t\t\t\t\t\t\t\t\t\t\tT.PY_OFF_BFR_DUE_DT_F\n'
  '\t,\t\t\t\t\t\t\t\t\t\t\t\t\tT.INT_RATE\n'
  '\t,#pdate#\t\t\t\t\t\t\t\t\t\t\tCDR_DT_DIM_ID\n'
  "\t,decode(T.MUD, 'OD', 0, AC_AR_DIM.TERM_IN_MO)\t\tTERM_IN_MO\n"
  '\t,SRO_DIM.SRO_DIM_ID\t\t\t\t\t\t\t\t\tSRO_DIM_ID\n'
  '\t,T.PB_MISCODE_F\n'
  '\t,T.PB_CST_F\n'
  '\t,PYMTC_DIM.PYMTC_DIM_ID\t\t\t\t\t\t\t\tPYMTC_DIM_ID\n'
  '\t,T.MUD\n'
  '\t,LOB.LOB_DIM_ID\t\t\t\t\t\t\t\t\t\tLOB_DIM_ID\n'
  '\t,OU.OU_DIM_ID\t\t\t\t\t\t\t\t\t\tOU_DIM_ID\n'
  '\t,CIC_FNC_ST_DIM.FNC_ST_DIM_ID\t\t\t\t\t\tCIC_FNC_ST_DIM_ID\n'
  '\t,CCY.CCY_DIM_ID\t\t\t\t\t\t\t\t\t\tCCY_DIM_ID\n'
  '\t,FNC_SVC_MINI.FNC_SVC_AR_MINI_DIM_ID\t\t\t\tFNC_SVC_AR_MINI_DIM_ID\n'
  '\t,OVRL_CST.FNC_ST_DIM_ID\t\t\t\t\t\t\t\tOVRL_CST_FNC_ST_DIM_ID\n'
  '\t,OVRL_MIS_ADJ.FNC_ST_DIM_ID\t\t\t\t\t\t\tOVRL_MIS_ADJ_FNC_ST_DIM_ID\n'
  '\t,OVRL_FNL.FNC_ST_DIM_ID\t\t\t\t\t\t\t\tOVRL_FNL_FNC_ST_DIM_ID\n'
  '\t,T.ORIG_CLS_BAL_FCY\n'
  '\t,T.ORIG_CLS_BAL_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN T.ORIG_CLS_BAL_FCY\n'
  '\t\tELSE nvl(lst.ORIG_CLS_BAL_MTD_FCY, 0) + T.ORIG_CLS_BAL_FCY\n'
  '\tEND \t\t\t\t\t\t\t\t\t\t\t\tORIG_CLS_BAL_MTD_FCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN T.ORIG_CLS_BAL_LCY\n'
  '\t\tELSE nvl(lst.ORIG_CLS_BAL_MTD_LCY, 0) + T.ORIG_CLS_BAL_LCY\n'
  '\tEND \t\t\t\t\t\t\t\t\t\t\t\tORIG_CLS_BAL_MTD_LCY\n'
  '\t,PD_DIM.PD_CODE||FNC_SVC_MINI.DTL_PD_CODE\t\t\tCMB_PD_CODE\n'
  '\t--ADD\n'
  '\t,ORIG_PD.PD_DIM_ID\t\t\t\t\t\t\t\t\tORIG_PD_DIM_ID\n'
  '\t,MID1_OU.OU_DIM_ID\t\t\t\t\t\t\t\t\tMIS1_OU_DIM_ID\n'
  '\t,NVL(PD_DTL.PD_DTL_GRP_DIM_ID, PD_DTL1.PD_DTL_GRP_DIM_ID)\t'
  'PD_DTL_GRP_DIM_ID\n'
  '-- Add new luc.luu\n'
  '                ,T.FEE_INCM_LCY\n'
  '                ,T.TOT_LMT_AMT\n'
  "               -- , CASE WHEN AC_AR_DIM.AC_AR_TP = 'OD' THEN "
  "TO_DATE(#pdate#,'YYYYMMDD') - AC_AR_DIM.AR_END_DT \n"
  "               -- \tELSE TO_DATE(#pdate#,'YYYYMMDD') - "
  "TO_DATE(T.MAX_DAY_PAST_DUE,'YYYYMMDD') END NOD_PAST_DUE\n"
  '                ,T.NOD_PAST_DUE\n'
  '                ,T.PNP_ARS TOT_PAST_DUE_PNP\n'
  '                ,T.INT_ARS TOT_PAST_DUE_INT\n'
  '                ,T.CLS_UTLZ_AMT_FCY\n'
  '                ,T.PNP_DUE_AMT\n'
  '                ,T.INT_DUE_AMT\n'
  '                ,T.DLQ_CNT\n'
  ',T.TOT_DSBR_AMT_FCY\n'
  ',AC_AR_MINI.AC_AR_MINI_DIM_ID\n'
  ',T.TOT_AVL_LMT_AMT\n'
  ',T.INTERIM_INT\n'
  ',ORIG_OU.OU_DIM_ID ORIG_OU_DIM_ID\n'
  ',CST_SEG_MINI_DIM.CST_SEG_MINI_DIM_ID\n'
  'FROM TWT_FNC_SVC_AR_ANL_FCT_FA T\n'
  'INNER JOIN AC_AR_DIM \t\t\t\t\tON AC_AR_DIM.AC_AR_ID = T.AC_AR_ID AND '
  'AC_AR_DIM.EFF_DT <= #pdate# AND AC_AR_DIM.END_DT > #pdate#\n'
  'LEFT JOIN TWT_FCA_ANL_FCT_FA_LST_DY LST ON AC_AR_DIM.AC_AR_ID = '
  'LST.AC_AR_ID AND LST.CDR_DT_DIM_ID = to_number(to_char(to_date(#pdate#, '
  "'yyyymmdd')-1, 'yyyymmdd'))\n"
  'LEFT JOIN FNC_SVC_AR_MINI_DIM FNC_SVC_MINI\tON FNC_SVC_MINI.FNC_SVC_AR_ID = '
  'T.AC_AR_ID AND FNC_SVC_MINI.EFF_DT <= #pdate# AND FNC_SVC_MINI.END_DT > '
  '#pdate#\n'
  '--add 20220311\n'
  'LEFT JOIN TWT_FNC_SVC_AR_FCT_FA_CST_PD PD_CST ON T.AC_AR_ID = '
  'PD_CST.AC_AR_ID --AND T.PD_CODE = PD_CST.PD_CODE \n'
  'LEFT JOIN TWT_PUB_AC_AR_INFO TB_IF ON TB_IF.AR_ID = T.AC_AR_ID\n'
  'LEFT JOIN AC_AR_MINI_DIM AC_AR_MINI ON AC_AR_MINI.EFF_DT<=#pdate# AND '
  'AC_AR_MINI.END_DT>#pdate#\n'
  "\tAND NVL(PD_CST.GL_FNC_ST_CODE, 'NULL') = AC_AR_MINI.AR_FNC_ST\n"
  "\tAND NVL(PD_CST.CST_PD_FNC_ST_CODE, 'NULL') = "
  'AC_AR_MINI.CST_PD_FNC_ST_CODE\n'
  "\tAND nvl(TB_IF.CST_INCM_F,'N') = AC_AR_MINI.CST_INCM_F\n"
  '--END ADD\n'
  'LEFT JOIN CST_DIM \t\t\t\t\t\tON CST_DIM.CST_ID = T.CST_ID AND '
  'CST_DIM.EFF_DT <= #pdate# AND CST_DIM.END_DT > #pdate#\n'
  'LEFT JOIN LOAN_PPS_DIM \t\t\t\t\tON LOAN_PPS_DIM.PPS_CODE = T.LOAN_PPS_CODE '
  'AND LOAN_PPS_DIM.EFF_DT <= #pdate# AND LOAN_PPS_DIM.END_DT > #pdate# AND '
  "LOAN_PPS_DIM.PPS_TP = 'MUC DICH VAY'\n"
  'LEFT JOIN PD_DIM \t\t\t\t\t\tON PD_DIM.PD_CODE = T.PD_CODE AND '
  'PD_DIM.EFF_DT <= #pdate# AND PD_DIM.END_DT > #pdate#\n'
  "\t\t\t\t\t\t\t\t\t\tAND CASE WHEN T.MUD IN ('LN', 'OD') THEN 'FCC' ELSE "
  "'SMV' END = SUBSTR(PD_DIM.SRC_STM_CODE, 1, INSTR(PD_DIM.SRC_STM_CODE, "
  "'.')-1)\n"
  'LEFT JOIN PD_DIM ORIG_PD \t\t\t\tON ORIG_PD.PD_CODE = T.ORIG_PD_CODE AND '
  'ORIG_PD.EFF_DT <= #pdate# AND ORIG_PD.END_DT > #pdate#\n'
  "\t\t\t\t\t\t\t\t\t\tAND CASE WHEN T.MUD IN ('LN', 'OD') THEN 'FCC' ELSE "
  "'SMV' END = SUBSTR(ORIG_PD.SRC_STM_CODE, 1, INSTR(ORIG_PD.SRC_STM_CODE, "
  "'.')-1)\n"
  'LEFT JOIN EMPE_DIM RLTNP_OFCR \t\t\tON RLTNP_OFCR.EMPE_ID = T.RLTNP_OFCR_ID '
  'AND RLTNP_OFCR.EFF_DT <= #pdate# AND RLTNP_OFCR.END_DT > #pdate#\n'
  'LEFT JOIN IDY_DIM \t\t\t\t\t\tON IDY_DIM.IDY_SHRT_CODE = T.IDY_CODE AND '
  'IDY_DIM.EFF_DT <= #pdate# AND IDY_DIM.END_DT > #pdate# AND '
  "SUBSTR(IDY_DIM.IDY_CODE, 1, INSTR(IDY_DIM.IDY_CODE, '.')-1) = "
  "'NGANH_NGHE_KINH_TE_SBV'\n"
  'LEFT JOIN LDGR_ACG_DIM \t\t\t\t\tON LDGR_ACG_DIM.LDGR_ACG_ID = '
  'T.LDGR_ACG_ID AND LDGR_ACG_DIM.EFF_DT <= #pdate# AND LDGR_ACG_DIM.END_DT > '
  '#pdate#\n'
  'LEFT JOIN GRP_DIM TERM_DIM\t\t\t\tON TERM_DIM.GRP_CODE = decode(T.MUD, '
  "'OD', 'S', CASE WHEN AC_AR_DIM.TERM_IN_MO <= 12 THEN 'S' WHEN "
  "AC_AR_DIM.TERM_IN_MO <= 60 THEN 'M' ELSE 'L' END)\n"
  "\t\t\t\t\t\t\t\t\t\tAND TERM_DIM.PRN_GRP_CODE = 'TERM_SEG_TP' AND "
  'TERM_DIM.EFF_DT <= #pdate# AND TERM_DIM.END_DT > #pdate#\n'
  'LEFT JOIN OU_DIM ADJ_OU \t\t\t\tON ADJ_OU.CODE = T.ADJ_OU_CODE AND '
  'ADJ_OU.EFF_DT <= #pdate# AND ADJ_OU.END_DT > #pdate#\n'
  'LEFT JOIN OU_DIM OU\t\t\t\t\t\tON OU.CODE = T.OU_CODE AND OU.EFF_DT <= '
  '#pdate# AND OU.END_DT > #pdate#\n'
  'LEFT JOIN OU_DIM MID1_OU\t\t\t\tON MID1_OU.CODE = T.MIS1_OU_CODE AND '
  'MID1_OU.EFF_DT <= #pdate# AND MID1_OU.END_DT > #pdate#\n'
  'LEFT JOIN CCY_DIM ADJ_CCY \t\t\t\tON ADJ_CCY.ALPB_CCY_CODE = T.ADJ_CCY_CODE '
  'AND ADJ_CCY.EFF_DT <= #pdate# AND ADJ_CCY.END_DT > #pdate#\n'
  'LEFT JOIN CCY_DIM CCY \t\t\t\t\tON CCY.ALPB_CCY_CODE = T.CCY_CODE AND '
  'CCY.EFF_DT <= #pdate# AND CCY.END_DT > #pdate#\n'
  'LEFT JOIN LOB_DIM ADJ_LOB\t\t\t\tON ADJ_LOB.LOB_CODE = T.ADJ_LOB_CODE\n'
  'LEFT JOIN LOB_DIM LOB\t\t\t\t\tON LOB.LOB_CODE = T.LOB_CODE\n'
  '--add 20200605\n'
  'LEFT JOIN PD_DTL_GRP_DIM PD_DTL\t\t\tON PD_DTL.LINE = ADJ_LOB.LOB_CODE AND '
  'PD_DTL.MAP_SPCT = PD_DIM.PD_CODE||FNC_SVC_MINI.DTL_PD_CODE\n'
  '\t\t\t\t\t\t\t\t\t\tAND PD_DTL.EFF_DT <= #pdate# AND PD_DTL.END_DT > '
  '#pdate#\n'
  'LEFT JOIN PD_DTL_GRP_DIM PD_DTL1\t\t\tON PD_DTL1.LINE = ADJ_LOB.LOB_CODE '
  'AND PD_DTL1.MAP_SPCT = ORIG_PD.PD_CODE\n'
  '\t\t\t\t\t\t\t\t\t\tAND PD_DTL1.EFF_DT <= #pdate# AND PD_DTL1.END_DT > '
  '#pdate#\n'
  '--END ADD\n'
  'LEFT JOIN FNC_ST_DIM ADJ_FNC_ST_DIM \tON ADJ_FNC_ST_DIM.FNC_ST_CODE = '
  'T.ADJ_FNC_ST_CODE AND ADJ_FNC_ST_DIM.EFF_DT <= #pdate# AND '
  'ADJ_FNC_ST_DIM.END_DT > #pdate#\n'
  'LEFT JOIN FNC_ST_DIM CST_FNC_ST_DIM \tON CST_FNC_ST_DIM.FNC_ST_CODE = '
  'T.CST_FNC_ST_CODE AND CST_FNC_ST_DIM.EFF_DT <= #pdate# AND '
  'CST_FNC_ST_DIM.END_DT > #pdate#\n'
  'LEFT JOIN FNC_ST_DIM MIS_ADJ_FNC_ST_DIM ON MIS_ADJ_FNC_ST_DIM.FNC_ST_CODE = '
  'T.MIS_ADJ_FNC_ST_CODE AND MIS_ADJ_FNC_ST_DIM.EFF_DT <= #pdate# AND '
  'MIS_ADJ_FNC_ST_DIM.END_DT > #pdate#\n'
  'LEFT JOIN FNC_ST_DIM FNL_FNC_ST_DIM \tON FNL_FNC_ST_DIM.FNC_ST_CODE = '
  'T.FNL_FNC_ST_CODE AND FNL_FNC_ST_DIM.EFF_DT <= #pdate# AND '
  'FNL_FNC_ST_DIM.END_DT > #pdate#\n'
  'LEFT JOIN FNC_ST_DIM OVRL_CST \t\t\tON OVRL_CST.FNC_ST_CODE = '
  'T.OVRL_CST_FNC_ST_CODE AND OVRL_CST.EFF_DT <= #pdate# AND OVRL_CST.END_DT > '
  '#pdate#\n'
  'LEFT JOIN FNC_ST_DIM OVRL_MIS_ADJ \t\tON OVRL_MIS_ADJ.FNC_ST_CODE = '
  'T.OVRL_MIS_ADJ_FNC_ST_CODE AND OVRL_MIS_ADJ.EFF_DT <= #pdate# AND '
  'OVRL_MIS_ADJ.END_DT > #pdate#\n'
  'LEFT JOIN FNC_ST_DIM OVRL_FNL \t\t\tON OVRL_FNL.FNC_ST_CODE = '
  'T.OVRL_FNL_FNC_ST_CODE AND OVRL_FNL.EFF_DT <= #pdate# AND OVRL_FNL.END_DT > '
  '#pdate#\n'
  'LEFT JOIN FNC_ST_DIM CIC_FNC_ST_DIM \tON CIC_FNC_ST_DIM.FNC_ST_CODE = '
  'T.CIC_FNC_ST_CODE AND CIC_FNC_ST_DIM.EFF_DT <= #pdate# AND '
  'CIC_FNC_ST_DIM.END_DT > #pdate#\n'
  'LEFT JOIN GRP_DIM FNC_ST_TP_DIM \t\tON FNC_ST_TP_DIM.GRP_CODE = '
  'T.FNC_ST_TP_CODE AND FNC_ST_TP_DIM.EFF_DT <= #pdate# AND '
  'FNC_ST_TP_DIM.END_DT > #pdate#\n'
  'LEFT JOIN CG_SEG_DIM CG_SEGMENT_DIM \tON CG_SEGMENT_DIM.CG_SEG_ID = '
  'T.CG_SEG AND CG_SEGMENT_DIM.EFF_DT <= #pdate# AND CG_SEGMENT_DIM.END_DT > '
  '#pdate#\n'
  'LEFT JOIN MSEG_DIM \t\t\t\t\t\tON MSEG_DIM.MSEG_ID = T.MSEG AND '
  'MSEG_DIM.EFF_DT <= #pdate# AND MSEG_DIM.END_DT > #pdate#\n'
  'LEFT JOIN SRO_DIM \t\t\t\t\t\tON SRO_DIM.SRO_CODE = T.SRO_CODE AND '
  'SRO_DIM.EFF_DT <= #pdate# AND SRO_DIM.END_DT > #pdate#\n'
  'LEFT JOIN PYMTC_DIM \t\t\t\t\tON PYMTC_DIM.PYMTC_ID = T.PYMT_CARD_ID AND '
  'PYMTC_DIM.EFF_DT <= #pdate# AND PYMTC_DIM.END_DT > #pdate#\n'
  '--add 20220311\n'
  'LEFT JOIN OU_DIM ORIG_OU ON ORIG_OU.CODE = T.RPRG_OU_CODE AND '
  'ORIG_OU.EFF_DT <= #pdate# AND ORIG_OU.END_DT > #pdate#\n'
  'LEFT JOIN TWT_PUB_CST_INFO ON TWT_PUB_CST_INFO.IP_ID = T.CST_ID\n'
  'LEFT JOIN CST_SEG_MINI_DIM ON\n'
  '\tTWT_PUB_CST_INFO.LCS = CST_SEG_MINI_DIM.LCS\n'
  '\tAND TWT_PUB_CST_INFO.FN_ST = CST_SEG_MINI_DIM.FNC_ST_CODE\n'
  '\tAND TWT_PUB_CST_INFO.CLT_F = CST_SEG_MINI_DIM.CLT_F\n'
  '\t\t\t\t\t\t\t\t\t\t\n'
  'UNION ALL\n'
  'SELECT \n'
  '\tLST.AC_AR_DIM_ID\n'
  '\t,LST.CST_DIM_ID\n'
  '\t,LST.LOAN_PPS_DIM_ID\n'
  '\t,LST.PD_DIM_ID\n'
  '\t,LST.RLTNP_OFCR_DIM_ID\n'
  '\t,LST.IDY_DIM_ID\n'
  '\t,LST.LDGR_ACG_DIM_ID\n'
  '\t,LST.TERM_DIM_ID\n'
  '\t,LST.ADJ_OU_DIM_ID\n'
  '\t,LST.ADJ_CCY_DIM_ID\n'
  '\t,LST.ADJ_LOB_DIM_ID\n'
  '\t,LST.CST_FNC_ST_DIM_ID\n'
  '\t,LST.ADJ_FNC_ST_DIM_ID\n'
  '\t,LST.MIS_ADJ_FNC_ST_DIM_ID\n'
  '\t,LST.FNL_FNC_ST_DIM_ID\n'
  '\t,LST.FNC_ST_TP_DIM_ID\n'
  '\t,LST.CG_SEG_DIM_ID\n'
  '\t,LST.MSEG_DIM_ID\n'
  '\t,0 CLS_BAL_FCY\n'
  '\t,0 CLS_BAL_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'IW')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.CLS_BAL_WTD_FCY END CLS_BAL_WTD_FCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'IW')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.CLS_BAL_WTD_LCY END CLS_BAL_WTD_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.CLS_BAL_MTD_FCY END CLS_BAL_MTD_FCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.CLS_BAL_MTD_LCY END CLS_BAL_MTD_LCY\n'
  '\t,0 LQD_AMT_FCY\n'
  '\t,0 LQD_AMT_LCY\n'
  '\t,0 DSBR_AMT_FCY\n'
  '\t,0 DSBR_AMT_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.DSBR_AMT_MTD_LCY END DSBR_AMT_MTD_LCY\n'
  '\t,0 PREPYMT_AMT_FCY\n'
  '\t,0 PREPYMT_AMT_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.PREPYMT_AMT_MTD_FCY END PREPYMT_AMT_MTD_FCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.PREPYMT_AMT_MTD_LCY END PREPYMT_AMT_MTD_LCY\n'
  '\t,LST.PY_OFF_BFR_DUE_DT_F\n'
  '\t,LST.INT_RATE\n'
  '\t,LST.CDR_DT_DIM_ID\n'
  '\t,LST.TERM_IN_MO\n'
  '\t,LST.SRO_DIM_ID\n'
  '\t,LST.PB_MISCODE_F\n'
  '\t,LST.PB_CST_F\n'
  '\t,LST.PYMTC_DIM_ID\n'
  '\t,LST.MUD\n'
  '\t,LST.LOB_DIM_ID\n'
  '\t,LST.OU_DIM_ID\n'
  '\t,LST.CIC_FNC_ST_DIM_ID\n'
  '\t,LST.CCY_DIM_ID\n'
  '\t,LST.FNC_SVC_AR_MINI_DIM_ID\n'
  '\t,LST.OVRL_CST_FNC_ST_DIM_ID\n'
  '\t,LST.OVRL_MIS_ADJ_FNC_ST_DIM_ID\n'
  '\t,LST.OVRL_FNL_FNC_ST_DIM_ID\n'
  '\t,0 ORIG_CLS_BAL_FCY\n'
  '\t,0 ORIG_CLS_BAL_LCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.ORIG_CLS_BAL_MTD_FCY END ORIG_CLS_BAL_MTD_FCY\n'
  "\t,CASE WHEN TO_DATE(#pdate#, 'YYYYMMDD') = TRUNC(TO_DATE(#pdate#, "
  "'YYYYMMDD'), 'MONTH')\n"
  '\t\t\t\tTHEN 0\n'
  '\t\tELSE LST.ORIG_CLS_BAL_MTD_LCY END ORIG_CLS_BAL_MTD_LCY\n'
  '\t,LST.CMB_PD_CODE\n'
  '\t,LST.ORIG_PD_DIM_ID\n'
  '\t,LST.MIS1_OU_DIM_ID\n'
  '\t,LST.PD_DTL_GRP_DIM_ID\n'
  '\t,0 FEE_INCM_LCY\n'
  '\t,0 TOT_LMT_AMT\n'
  '\t,0 NOD_PAST_DUE\n'
  '\t,0 TOT_PAST_DUE_PNP\n'
  '\t,0 TOT_PAST_DUE_INT\n'
  '\t,0 CLS_UTLZ_AMT_FCY\n'
  '\t,0 PNP_DUE_AMT\n'
  '\t,0 INT_DUE_AMT\n'
  '\t,0 DLQ_CNT\n'
  '\t,0 TOT_DSBR_AMT_FCY\n'
  '\t,LST.AC_AR_MINI_DIM_ID\n'
  '\t,0 TOT_AVL_LMT_AMT\n'
  '\t,0 INTERIM_INT\n'
  '\t,LST.ORIG_OU_DIM_ID\n'
  '\t,LST.CST_SEG_MINI_DIM_ID\n'
  'FROM FNC_SVC_AR_ANL_FCT_FA LST\n'
  'JOIN AC_AR_DIM AC ON AC.AC_AR_DIM_ID = LST.AC_AR_DIM_ID\n'
  "WHERE LST.CDR_DT_DIM_ID = to_number(to_char(to_date(#pdate#, 'yyyymmdd') - "
  "1, 'yyyymmdd'))\n"
  '\tAND NOT EXISTS (\n'
  '\t\tSELECT 1\n'
  '\t\tFROM TWT_FNC_SVC_AR_ANL_FCT_FA T\n'
  '\t\tWHERE T.AC_AR_ID = AC.AC_AR_ID\n'
  '\t\t);'),
 (21212, '0'),
 (21423, '0'),
 (21501, '0'),
 (21555, '2000'),
 (21607, '0'),
 (21677, '2000'),
 (21734, '1'),
 (21797, '0'),
 (21873, '0'),
 (21928, '0'),
 (21990, '0'),
 (22066, '1'),
 (22156, '0'),
 (22237, '0'),
 (22316, '0'),
 (78468, '#PS_ORA_CONN_DMT.ConnectionString#'),
 (78560, '#PS_ORA_CONN_DMT.Username#'),
 (78646, '#PS_ORA_CONN_DMT.Password#'),
 (78743, '0'),
 (78803, '11g'),
 (78883, '0'),
 (78946, '1'),
 (79011, 'FNC_SVC_AR_ANL_FCT_FA'),
 (79067, '0'),
 (79134, '0'),
 (79227, '0'),
 (79294, '0'),
 (79348, '2000'),
 (79423, '2000'),
 (79484, '0'),
 (79554, '0'),
 (79627, '1'),
 (79695, '1'),
 (79789, '0'),
 (79868, '1'),
 (79919, 'Delete from FNC_SVC_AR_ANL_FCT_FA where CDR_DT_DIM_ID = #pdate#'),
 (80029, '0'),
 (80091, '1'),
 (80154, ''),
 (80200, '0'),
 (80261, '1'),
 (80328, ''),
 (80379, '0'),
 (80445, '1'),
 (80516, ''),
 (80566, '0'),
 (80631, '1'),
 (80741, '0'),
 (80820, '0'),
 (80882, '0'),
 (89970, '#PS_ORA_CONN_SOR.ConnectionString#'),
 (90062, '#PS_ORA_CONN_SOR.Username#'),
 (90148, '#PS_ORA_CONN_SOR.Password#'),
 (90245, '0'),
 (90305, '11g'),
 (90371, '0'),
 (90420, '0'),
 (90476, '0'),
 (90556,
  'SELECT\n'
  '\tAC_AR.AC_AR_ID\n'
  '\t,PD_AR.PD_ID\n'
  '\t,COALESCE(LN.LAST_EFF_DT, OD.LAST_EFF_DT, CARD.LAST_EFF_DT)\t\t\t\t\t\t\t'
  'LAST_EFF_DT\n'
  '\t,COALESCE(LN.ADJ_BAL, OD.ADJ_BAL, CARD.ADJ_BAL)\t\t\t\t\t\t\t\t\t\t'
  'ADJ_BAL\n'
  '\t,AR.UNQ_ID_IN_SRC_STM\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tAR_UNQ_ID\n'
  '\t,CASE WHEN\n'
  "\t\tCASE WHEN LN.AR_ID IS NOT NULL THEN 'LN'\n"
  "\t\t\tWHEN OD.AR_ID IS NOT NULL THEN 'OD'\n"
  "\t\t\tWHEN CARD.AR_ID IS NOT NULL THEN 'CARD'\n"
  "\t\tEND IN ('OD', 'CARD') THEN PD_AR.PRM_CST_ID\n"
  '\tELSE NULL END\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tCST_ID\n'
  "\t,CASE WHEN LN.AR_ID IS NOT NULL THEN 'LN'\n"
  "\t\tWHEN OD.AR_ID IS NOT NULL THEN 'OD'\n"
  "\t\tWHEN CARD.AR_ID IS NOT NULL THEN 'CARD'\n"
  '\tEND\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tMUD\n'
  '\t,PD.UNQ_ID_IN_SRC_STM\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tPD_CODE\n'
  '\t,CCY.CCY_CODE\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tCCY_CODE\n'
  '\t,CARD.CARD_ID\n'
  '\t,CARD_AR.SALE_EMPE_ID\n'
  '\t,COALESCE(LN.ACG_STC_ITM_ID, OD.ACG_STC_ITM_ID, '
  'AU.ACG_STC_ITM_ID)\t\t\t\t\tACG_STC_ITM_ID\n'
  "\t,NVL(MAP.MA_NHOM_NO, 'NORM') \t\t\t\t\t\t\t\t\t\t\t\t\t\t"
  'CARD_AR_FNC_ST_TP_CODE\n'
  '\t,RPRG_OU.UNQ_ID_IN_SRC_STM\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tRPRG_OU_CODE\n'
  '\t,LN.LN_FNC_ST_CODE\n'
  'FROM AC_AR\n'
  'LEFT JOIN TWT_CUST_LOAN_FA LN ON AC_AR.AC_AR_ID = LN.AR_ID\n'
  'LEFT JOIN TWT_CST_OD_OPEN OD\tON AC_AR.AC_AR_ID = OD.AR_ID\n'
  'LEFT JOIN TWT_CARD_OPEN CARD\tON AC_AR.AC_AR_ID = CARD.AR_ID\n'
  'LEFT JOIN AR           \t\t\tON AC_AR.AC_AR_ID = AR.AR_ID\n'
  'LEFT JOIN IP RPRG_OU\t\t\tON RPRG_OU.IP_ID = AR.RPRG_OU_ID\n'
  'LEFT JOIN PD_AR         \t\tON AC_AR.AC_AR_ID = PD_AR.PD_AR_ID\n'
  'LEFT JOIN PD \t\t\t\t\tON PD.PD_ID = PD_AR.PD_ID\n'
  'LEFT JOIN CCY \t\t\t\t\tON CCY.CCY_ID = AR.DNMN_CCY_ID\n'
  '--ADD NEW \n'
  'LEFT JOIN AR CARD_AR\t\t\tON CARD_AR.AR_ID = CARD.CARD_ID\n'
  'LEFT JOIN TMP_AR_X_AU AU\t\tON AU.AR_ID = CARD.AR_ID AND AU.AR_X_AU_TP_CODE '
  "= 'AR_X_DR_AU'\n"
  'LEFT JOIN CC_AR_SMY SMY\t\t\tON CARD.AR_ID = SMY.CC_AR_ID --CR_FCY_AR_ID = '
  'TAI KHOAN THE\n'
  '\tAND smy.MSR_PRD_ID = #pDate#\n'
  'LEFT JOIN EXT_XLS_MAP_NHOMNO_THE_TDY MAP ON SMY.NOD_PAST_DUE < '
  'NVL(MAP.HIGH_VAL, SMY.NOD_PAST_DUE + 1)\n'
  '\tAND SMY.NOD_PAST_DUE >= NVL(MAP.LOW_VAL, SMY.NOD_PAST_DUE)\n'
  '\tAND SMY.NOD_PAST_DUE >= NVL(MAP.LOW_VAL, SMY.NOD_PAST_DUE)\n'
  'WHERE AC_AR.SRC_STM_ID IN '
  "('3FBF9A0B41B2BE2CA30C68E2B64D00A7','85425375A0630AA9C05A16D7D3420345','D461039F96DF94CBDFD7BC02909C9521')\n"

In [8]:
b = """
select
chg.AC_AR_ID
,decode(CHG.MUD, 'OD', ABS(CLS_VAL_BAL_FCY*CHG.ADJ_BAL), CLS_VAL_BAL_FCY*CHG.ADJ_BAL)	CLS_BAL_FCY   
,decode(CHG.MUD, 'OD', ABS(CLS_VAL_BAL_LCY*CHG.ADJ_BAL), CLS_VAL_BAL_LCY*CHG.ADJ_BAL)	CLS_BAL_LCY
,TVR.LQD_AMT_FCY                               			LQD_AMT_FCY
,TVR.LQD_AMT_LCY                       	    			LQD_AMT_LCY
,TVR.DSBR_AMT_TDY_FCY                                   DSBR_AMT_FCY
,TVR.DSBR_AMT_TDY                                      	DSBR_AMT_LCY
,TVR.PREPYMT_AMT	                                    PREPYMT_AMT_FCY
,TVR.PREPYMT_AMT*TVR.EXG_RATE_TO_LCL_CCY	            PREPYMT_AMT_LCY
,TVR.PY_OFF_BFR_DUE_DT_F                              	PY_OFF_BFR_DUE_DT_F
,decode(tvr.CLS_VAL_BAL_FCY*CHG.ADJ_BAL , 0, 'NORM', 
		COALESCE(CAST(CHG.LN_FNC_ST_CODE AS VARCHAR2(100)), ARF.CL_CODE, CAST(CHG.CARD_AR_FNC_ST_TP_CODE AS VARCHAR2(100))))	    ADJ_FNC_ST_CODE --NHOM NO
,CASE WHEN decode(tvr.CLS_VAL_BAL_FCY*CHG.ADJ_BAL , 0, 'NORM', 
		COALESCE(CAST(CHG.LN_FNC_ST_CODE AS VARCHAR2(100)), ARF.CL_CODE, CAST(CHG.CARD_AR_FNC_ST_TP_CODE AS VARCHAR2(100)))) <> 'NORM' AND PNP_ARS + INT_ARS > 0 THEN 'THUC_TE' 
      WHEN decode(tvr.CLS_VAL_BAL_FCY*CHG.ADJ_BAL , 0, 'NORM', 
		COALESCE(CAST(CHG.LN_FNC_ST_CODE AS VARCHAR2(100)), ARF.CL_CODE, CAST(CHG.CARD_AR_FNC_ST_TP_CODE AS VARCHAR2(100)))) <> 'NORM' AND PNP_ARS + INT_ARS = 0 THEN 'THU_THACH'
 END                                        			FNC_ST_TP_CODE
-- Add new luc.luu
,DLQ.PNP_ARS
,DLQ.INT_ARS
,DLQ.NOD_PAST_DUE
,TVR.DSBR_AMT_LTD TOT_DSBR_AMT_FCY
,TVR.INTERIM_INT
,CASE WHEN DLQ.PNP_PAST_DUE_DT <= nvl(DLQ.INT_PAST_DUE_DT,99991231) AND PAST_DUE_F = 1
	  AND  DLQ.PNP_PAST_DUE_DT IS NOT NULL 
	  THEN MONTHS_BETWEEN(Trunc(to_date(#pdate#,'yyyymmdd'),'MONTH'),Trunc(to_date(DLQ.PNP_PAST_DUE_DT,'yyyymmdd'),'MONTH')) 
	  WHEN PAST_DUE_F = 1 AND DLQ.INT_PAST_DUE_DT <= nvl(DLQ.PNP_PAST_DUE_DT,99991231) 
	  AND  DLQ.INT_PAST_DUE_DT IS NOT NULL 
	  THEN MONTHS_BETWEEN(Trunc(to_date(#pdate#,'yyyymmdd'),'MONTH'),Trunc(to_date(DLQ.INT_PAST_DUE_DT,'yyyymmdd'),'MONTH'))
	  ELSE 0 END DLQ_CNT
,decode(CHG.MUD, 'OD', ABS(CLS_VAL_BAL_FCY), CLS_VAL_BAL_FCY) ORIG_CLS_BAL_FCY
,decode(CHG.MUD, 'OD', ABS(CLS_VAL_BAL_LCY), CLS_VAL_BAL_LCY) ORIG_CLS_BAL_LCY
FROM TWT_FNC_SVC_AR_ANL_FCT_FA_CHG chg
LEFT JOIN AR_DLQ_SMY DLQ ON ac_AR_ID = DLQ.AR_ID AND DLQ.MSR_PRD_ID = #pDate#
LEFT JOIN TWT_AR_TVR_SMY_DAILY TVR ON ac_AR_ID = TVR.AR_ID AND TVR.MSR_PRD_ID = #pDate#
LEFT JOIN (SELECT ARF.AR_ID, ARF.EFF_DT, ARF.END_DT, CD.CL_CODE
	FROM AR_FNC_ST ARF
	LEFT JOIN CV CD ON CD.CL_ID = ARF.AR_FNC_ST_TP_ID
      WHERE ARF.AR_FNC_ST_SCM_ID = 'FF2F2563FA9BFED792EDC3A35EFDEE92') ARF ON AC_AR_ID = ARF.AR_ID 
	  AND ARF.EFF_DT <= LAST_EFF_DT AND ARF.END_DT > LAST_EFF_DT --LU_CV: 'AR_FNC_ST_SCM', 'USR_DFND_ST']"""
a = remove_comments(b)
a

"\nselect\nchg.AC_AR_ID\n,decode(CHG.MUD, 'OD', ABS(CLS_VAL_BAL_FCY*CHG.ADJ_BAL), CLS_VAL_BAL_FCY*CHG.ADJ_BAL)\tCLS_BAL_FCY   \n,decode(CHG.MUD, 'OD', ABS(CLS_VAL_BAL_LCY*CHG.ADJ_BAL), CLS_VAL_BAL_LCY*CHG.ADJ_BAL)\tCLS_BAL_LCY\n,TVR.LQD_AMT_FCY                               \t\t\tLQD_AMT_FCY\n,TVR.LQD_AMT_LCY                       \t    \t\t\tLQD_AMT_LCY\n,TVR.DSBR_AMT_TDY_FCY                                   DSBR_AMT_FCY\n,TVR.DSBR_AMT_TDY                                      \tDSBR_AMT_LCY\n,TVR.PREPYMT_AMT\t                                    PREPYMT_AMT_FCY\n,TVR.PREPYMT_AMT*TVR.EXG_RATE_TO_LCL_CCY\t            PREPYMT_AMT_LCY\n,TVR.PY_OFF_BFR_DUE_DT_F                              \tPY_OFF_BFR_DUE_DT_F\n,decode(tvr.CLS_VAL_BAL_FCY*CHG.ADJ_BAL , 0, 'NORM', \n\t\tCOALESCE(CAST(CHG.LN_FNC_ST_CODE AS VARCHAR2(100)), ARF.CL_CODE, CAST(CHG.CARD_AR_FNC_ST_TP_CODE AS VARCHAR2(100))))\t    ADJ_FNC_ST_CODE ,CASE WHEN decode(tvr.CLS_VAL_BAL_FCY*CHG.ADJ_BAL , 0, 'NORM', \n\t\tCOALESCE(CAST(CHG.LN_FNC_ST_CODE AS VARCHAR2(100)), ARF.CL_CODE, CAST(CHG.CARD_AR_FNC_ST_TP_CODE AS VARCHAR2(100)))) <> 'NORM' AND PNP_ARS + INT_ARS > 0 THEN 'THUC_TE' \n      WHEN decode(tvr.CLS_VAL_BAL_FCY*CHG.ADJ_BAL , 0, 'NORM', \n\t\tCOALESCE(CAST(CHG.LN_FNC_ST_CODE AS VARCHAR2(100)), ARF.CL_CODE, CAST(CHG.CARD_AR_FNC_ST_TP_CODE AS VARCHAR2(100)))) <> 'NORM' AND PNP_ARS + INT_ARS = 0 THEN 'THU_THACH'\n END                                        \t\t\tFNC_ST_TP_CODE\n,DLQ.PNP_ARS\n,DLQ.INT_ARS\n,DLQ.NOD_PAST_DUE\n,TVR.DSBR_AMT_LTD TOT_DSBR_AMT_FCY\n,TVR.INTERIM_INT\n,CASE WHEN DLQ.PNP_PAST_DUE_DT <= nvl(DLQ.INT_PAST_DUE_DT,99991231) AND PAST_DUE_F = 1\n\t  AND  DLQ.PNP_PAST_DUE_DT IS NOT NULL \n\t  THEN MONTHS_BETWEEN(Trunc(to_date(#pdate#,'yyyymmdd'),'MONTH'),Trunc(to_date(DLQ.PNP_PAST_DUE_DT,'yyyymmdd'),'MONTH')) \n\t  WHEN PAST_DUE_F = 1 AND DLQ.INT_PAST_DUE_DT <= nvl(DLQ.PNP_PAST_DUE_DT,99991231) \n\t  AND  DLQ.INT_PAST_DUE_DT IS NOT NULL \n\t  THEN MONTHS_BETWEEN(Trunc(to_date(#pdate#,'yyyymmdd'),'MONTH'),Trunc(to_date(DLQ.INT_PAST_DUE_DT,'yyyymmdd'),'MONTH'))\n\t  ELSE 0 END DLQ_CNT\n,decode(CHG.MUD, 'OD', ABS(CLS_VAL_BAL_FCY), CLS_VAL_BAL_FCY) ORIG_CLS_BAL_FCY\n,decode(CHG.MUD, 'OD', ABS(CLS_VAL_BAL_LCY), CLS_VAL_BAL_LCY) ORIG_CLS_BAL_LCY\nFROM TWT_FNC_SVC_AR_ANL_FCT_FA_CHG chg\nLEFT JOIN AR_DLQ_SMY DLQ ON ac_AR_ID = DLQ.AR_ID AND DLQ.MSR_PRD_ID = #pDate#\nLEFT JOIN TWT_AR_TVR_SMY_DAILY TVR ON ac_AR_ID = TVR.AR_ID AND TVR.MSR_PRD_ID = #pDate#\nLEFT JOIN (SELECT ARF.AR_ID, ARF.EFF_DT, ARF.END_DT, CD.CL_CODE\n\tFROM AR_FNC_ST ARF\n\tLEFT JOIN CV CD ON CD.CL_ID = ARF.AR_FNC_ST_TP_ID\n      WHERE ARF.AR_FNC_ST_SCM_ID = 'FF2F2563FA9BFED792EDC3A35EFDEE92') ARF ON AC_AR_ID = ARF.AR_ID \n\t  AND ARF.EFF_DT <= LAST_EFF_DT AND ARF.END_DT > LAST_EFF_DT "